<!-- <nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">Dating App</a>
    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/members']" >Matches</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/lists']">Lists</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/messages']">Messages</a>
	  </li>
	  <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/postjob']">Post a Job</a>
      </li>
      <li *appHasRole="['Admin','Moderator']" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/admin']">Admin</a>
      </li>
    </ul>

    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <span class="mr-1"> 
        <img src="{{authService.currentUser.photoUrl}}">
      </span>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome {{ authService.decodedToken?.unique_name  | titlecase }}
      </a>
    
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/member/edit']"><i class="fa fa-user"></i>Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a>
      </div>
    </div>

    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" name="username" placeholder="Username" required [(ngModel)]="model.username">
      <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password" required [(ngModel)]="model.password">
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
  
</nav>  -->


<div class="wrapper">
	

	<!-- Main Header Nav -->
	<header class="header-nav menu_style_home_two navbar-scrolltofixed stricky main-menu">
		<div class="container">
		    <!-- Ace Responsive Menu -->
		    <nav>
		        <!-- Menu Toggle btn-->
		        <div class="menu-toggle">
		            <img class="nav_logo_img img-fluid" src="../../assets/images/header-logo.png" alt="header-logo2.png">
		            <button type="button" id="menu-btn">
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		        </div>
		        <a href="index.html" class="navbar_brand float-left dn-smd">
		            <img class="img-fluid" src="../../assets/images/header-logo2.png" alt="header-logo2.png">
		        </a>
		        <!-- Responsive Menu Structure-->
		        <!--Note: declare the Menu style in the data-menu-style="horizontal" (options: horizontal, vertical, accordion) -->
		        <ul id="respMenu" class="ace-responsive-menu" data-menu-style="horizontal">
		            <li>
		                <a href="#"><span class="title">Home</span></a>
		                <!-- Level Two-->
		                <ul>
		                    <li><a href="index.html">Home 1</a></li>
		                    <li><a href="index2.html">Home 2</a></li>
		                    <li><a href="index3.html">Home 3</a></li>
		                    <li><a href="index4.html">Home 4</a></li>
		                    <li><a href="index5.html">Home 5</a></li>
		                    <li><a href="index6.html">Home 6</a></li>
		                </ul>
		            </li>
		            <li class="nav-item" routerLinkActive="active">
						<a class="nav-link" [routerLink]="['/searchjob']">Find a Job</a>
					  </li>
					  <li class="nav-item" routerLinkActive="active">
						<a class="nav-link" [routerLink]="['/searchemployer']">Employer</a>
					  </li>
		            <li>
		                <a href="#"><span class="title">Candidates</span></a>
		                <ul>
		                    <li>
		                        <a href="#">Candidates List</a>
		                        <ul>
		                            <li><a href="page-candidates-list-v1.html">List V1</a></li>
		                            <li><a href="page-candidates-list-v2.html">List V2</a></li>
		                            <li><a href="page-candidates-list-v3.html">List V3</a></li>
		                        </ul>
		                    </li>
		                    <li>
		                        <a href="#">Candidates Single</a>
		                        <ul>
		                            <li><a href="page-candidates-single-v1.html">Single v1</a></li>
		                            <li><a href="page-candidates-single-v2.html">Single v2</a></li>
		                            <li><a href="page-candidates-single-v3.html">Single v3</a></li>
		                        </ul>
		                    </li>
		                    <li>
		                        <a href="#">Candidates Admin</a>
		                        <ul>
		                            <li><a href="page-candidates-dashboard.html">Dashboard</a></li>
		                            <li><a href="page-candidates-profile.html">Profile</a></li>
		                            <li><a href="page-candidates-my-resume.html">My Resume</a></li>
		                            <li><a href="page-candidates-applied-jobs.html">Applied Jobs</a></li>
		                            <li><a href="page-candidates-cv-manager.html">Cv Manager</a></li>
		                            <li><a href="page-candidates-favourite-jobs.html">Favourite Jobs</a></li>
		                            <li><a href="page-candidates-message.html">Message</a></li>
		                            <li><a href="page-candidates-review.html">Review</a></li>
		                            <li><a href="page-candidates-job-alert.html">Job Alert</a></li>
		                            <li><a href="page-candidates-change-password.html">Change Password</a></li>
		                        </ul>
		                    </li>
		                </ul>
		            </li>
		            <li>
		                <a href="#"><span class="title">Pages</span></a>
		                <ul>
			                <li><a href="page-about.html">About</a></li>
			                <li>
			                	<a href="#"><span class="title">Blog</span></a>
				                <ul>
				                    <li><a href="page-blog-v1.html">Page Blog v1</a></li>
				                    <li><a href="page-blog-grid.html">Blog Grid</a></li>
				                    <li><a href="page-blog-list.html">Blog List</a></li>
				                    <li><a href="page-blog-single.html">Blog Single</a></li>
				                </ul>
			                </li>
			                <li><a href="page-contact.html">Contact Us</a></li>
			                <li><a href="page-error.html">404</a></li>
			                <li><a href="page-faq.html">Faq</a></li>
			                <li><a href="page-how-it-works.html">How It Works</a></li>
			                <li><a href="page-invoice.html">Invoice</a></li>
			                <li><a href="page-log-reg.html">Login/Register</a></li>
			                <li><a href="page-pricing.html">Pricing</a></li>
			                <li><a href="page-terms-and-policies.html">Terms And Policies</a></li>
			                <li><a href="page-ui-element.html">UI Elements</a></li>
		                </ul>
					</li>
					<li class="nav-item" routerLinkActive="active">
						<a class="nav-link" [routerLink]="['/postjob']">Post a Job</a>
					  </li>
		           <!--  <li class="last">
		                <a href="page-employer-post-job.html"><span class="title">Post a Job</span></a>
		            </li> -->
		        </ul>
		        <ul class="sign_up_btn pull-right dn-smd">
	                <li><a href="#" class="btn btn-md btn-dark" data-toggle="modal" data-target="#exampleModalCenter">Log<span class="dn-md">in</span>/Reg<span class="dn-md">ister</span></a></li>
	            </ul><!-- Button trigger modal -->
		    </nav>
		    <!-- End of Responsive Menu -->
		</div>
	</header>
	<!-- Modal -->
	<div class="sign_up_modal modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
	  	<div class="modal-dialog modal-dialog-centered" role="document">
	    	<div class="modal-content">
		      	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		      	</div>
	    		<ul class="sign_up_tab nav nav-tabs" id="myTab" role="tablist">
				  	<li class="nav-item">
				    	<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Login</a>
				  	</li>
				  	<li class="nav-item">
				    	<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Register</a>
				  	</li>
				</ul>
				<div class="tab-content" id="myTabContent">
				  	<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
						<div class="login_form">
							<form action="#">
								<div class="heading">
									<h3 class="text-center">Quick Login</h3>
									<p class="text-center">Don't have an account? <a class="text-thm" href="#">Sign Up!</a></p>
								</div>
								 <div class="form-group">
							    	<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
								</div>
								<div class="form-group">
							    	<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
								</div>
								<div class="form-group form-check">
									<input type="checkbox" class="form-check-input" id="exampleCheck1">
									<label class="form-check-label" for="exampleCheck1">Remember me</label>
									<a class="tdu text-thm float-right" href="#">Forgot Password?</a>
								</div>
								<button type="submit" class="btn btn-log btn-block btn-thm">Login</button>
								<hr>
								<div class="row mt40">
									<div class="col-lg">
										<button type="submit" class="btn btn-block color-white bgc-fb"><i class="fa fa-facebook float-left mt5"></i> Facebook</button>
									</div>
									<div class="col-lg">
										<button type="submit" class="btn btn-block color-white bgc-gogle"><i class="fa fa-google float-left mt5"></i> Google</button>
									</div>
								</div>
							</form>
						</div>
				  	</div>
				  	<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
						<div class="sign_up_form">
							<div class="heading">
								<h3 class="text-center">Create New Account</h3>
								<p class="text-center">Don't have an account? <a class="text-thm" href="#">Sign Up!</a></p>
							</div>
							<form action="#">
								<div class="form-group">
							    	<input type="text" class="form-control" id="exampleInputName1" placeholder="User Name">
								</div>
								 <div class="form-group">
							    	<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email">
								</div>
								<div class="form-group">
							    	<input type="number" class="form-control" id="exampleInputPhone1" placeholder="Phone Number">
								</div>
								<div class="form-group">
									<select id="inputState1" class="form-control">
								        <option selected>Select Sector</option>
								        <option>Web Developer</option>
								        <option>Ui/Ux Designer</option>
								        <option>Photoeditor</option>
								        <option>Graphics Designer</option>
								    </select>
								</div>
								<div class="form-group">
							    	<input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
								</div>
								<div class="form-group form-check">
									<input type="checkbox" class="form-check-input" id="exampleCheck2">
									<label class="form-check-label" for="exampleCheck2">By Registering You Confirm That You Accept <a class="text-thm" href="page-terms-and-policies.html">Terms & Conditions</a> And <a class="text-thm" href="page-terms-and-policies.html">Privacy Policy</a></label>
								</div>
								<button type="submit" class="btn btn-log btn-block btn-dark">Register</button>
								<hr>
								<div class="row mt40">
									<div class="col-lg">
										<button type="submit" class="btn btn-block color-white bgc-fb"><i class="fa fa-facebook float-left mt5"></i> Facebook</button>
									</div>
									<div class="col-lg">
										<button type="submit" class="btn btn-block color-white bgc-gogle"><i class="fa fa-google float-left mt5"></i> Google</button>
									</div>
								</div>
							</form>
						</div>
				  	</div>
				</div>
	    	</div>
	  	</div>
	</div>

	<div id="page" class="stylehome1 h0">
		<div class="mobile-menu">
			<div class="header stylehome1">
	            <img class="nav_logo_img img-fluid float-left mt30" src="../../assets/images/header-logo.png" alt="header-logo.png">
				<a class="bg-thm" href="#menu"><span></span></a>
			</div>
		</div>
		<nav id="menu" class="stylehome1">
			<ul>
				<li><span>Home</span>
					<ul>
						<li><a href="index.html">Home One</a></li>
						<li><a href="index2.html">Home Two</a></li>
						<li><a href="index3.html">Home Three</a></li>
						<li><a href="index4.html">Home Four</a></li>
						<li><a href="index5.html">Home Five</a></li>
						<li><a href="index6.html">Home Six</a></li>
					</ul>
				</li>
				<li><span>Find A Job</span>
					<ul>
						<li><span>Job List</span>
							<ul>
	                            <li><a href="page-job-list-v1.html">List V1</a></li>
	                            <li><a href="page-job-list-v2.html">List V2</a></li>
	                            <li><a href="page-job-list-v3.html">List V3</a></li>
	                            <li><a href="page-job-list-v4.html">List V4</a></li>
	                            <li><a href="page-job-list-v5.html">List V5</a></li>
							</ul>
						</li>
						<li><span>Job Single</span>
							<ul>
	                            <li><a href="page-job-single-v1.html">Single V1</a></li>
	                            <li><a href="page-job-single-v2.html">Single V2</a></li>
	                            <li><a href="page-job-single-v3.html">Single V3</a></li>
	                            <li><a href="page-job-single-v4.html">Single V4</a></li>
	                            <li><a href="page-job-single-v5.html">Single V5</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><span>Employer</span>
					<ul>
						<li><span>Employer List</span>
							<ul>
	                            <li><a href="page-employer-list-v1.html">List V1</a></li>
	                            <li><a href="page-employer-list-v2.html">List V2</a></li>
	                            <li><a href="page-employer-list-v3.html">List V3</a></li>
							</ul>
						</li>
						<li><span>Employer Single</span>
							<ul>
	                            <li><a href="page-employer-single-v1.html">Single V1</a></li>
	                            <li><a href="page-employer-single-v2.html">Single V2</a></li>
	                            <li><a href="page-employer-single-v3.html">Single V3</a></li>
							</ul>
						</li>
						<li><span>Employer Admin</span>
							<ul>
	                            <li><a href="page-employer-dashboard.html">Dashboard</a></li>
								<li><a href="page-employer-profile.html">Profile</a></li>
								<li><a href="page-employer-post-job.html">Post Job</a></li>
								<li><a href="page-employer-manage-job.html">Manage Job</a></li>
								<li><a href="page-employer-resume.html">Resume</a></li>
								<li><a href="page-employer-packages.html">Packages</a></li>
								<li><a href="page-employer-transactions.html">Transactions</a></li>
		                        <li><a href="page-employer-change-password.html">Change Password</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><span>Candidates</span>
					<ul>
						<li><span>Candidates List</span>
							<ul>
	                            <li><a href="page-candidates-list-v1.html">List V1</a></li>
	                            <li><a href="page-candidates-list-v2.html">List V2</a></li>
	                            <li><a href="page-candidates-list-v3.html">List V3</a></li>
							</ul>
						</li>
						<li><span>Candidates Single</span>
							<ul>
	                            <li><a href="page-candidates-single-v1.html">Single v1</a></li>
	                            <li><a href="page-candidates-single-v2.html">Single v2</a></li>
	                            <li><a href="page-candidates-single-v3.html">Single v3</a></li>
							</ul>
						</li>
						<li><span>Candidates Admin</span>
							<ul>
	                            <li><a href="page-candidates-dashboard.html">Dashboard</a></li>
								<li><a href="page-candidates-profile.html">Profile</a></li>
								<li><a href="page-candidates-my-resume.html">My Resume</a></li>
								<li><a href="page-candidates-applied-jobs.html">Applied Jobs</a></li>
								<li><a href="page-candidates-cv-manager.html">Cv Manager</a></li>
								<li><a href="page-candidates-favourite-jobs.html">Favourite Jobs</a></li>
								<li><a href="page-candidates-message.html">Message</a></li>
								<li><a href="page-candidates-review.html">Review</a></li>
								<li><a href="page-candidates-job-alert.html">Job Alert</a></li>
								<li><a href="page-candidates-change-password.html">Change Password</a></li>
							</ul>
						</li>
	                    
					</ul>
				</li>
				<li><span>Pages</span>
					<ul>
		                <li><a href="page-about.html">About</a></li>
						<li><span>Blog</span>
							<ul>
			                    <li><a href="page-blog-v1.html">Page Blog v1</a></li>
			                    <li><a href="page-blog-grid.html">Blog Grid</a></li>
			                    <li><a href="page-blog-list.html">Blog List</a></li>
			                    <li><a href="page-blog-single.html">Blog Single</a></li>
							</ul>
						</li>
		                <li><a href="page-contact.html">Contact Us</a></li>
		                <li><a href="page-error.html">404</a></li>
		                <li><a href="page-faq.html">Faq</a></li>
		                <li><a href="page-how-it-works.html">How It Works</a></li>
		                <li><a href="page-invoice.html">Invoice</a></li>
		                <li><a href="page-log-reg.html">Login/Register</a></li>
		                <li><a href="page-pricing.html">Pricing</a></li>
		                <li><a href="page-terms-and-policies.html">Terms And Policies</a></li>
		                <li><a href="page-ui-element.html">UI Elements</a></li>
					</ul>
				</li>
				<li class="nav-item" routerLinkActive="active">
						<a class="nav-link" [routerLink]="['/postjob']">Post a Job</a>
					  </li>
				<li><a class="text-thm" href="page-log-reg.html">Login/Register</a></li>
			</ul>
		</nav>
	</div>


	<section class="footer_bottom_area p0" style="background-color:transparent">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="copyright-widget tac-smd mt20">
						<p>© 2019 CareerUp. All Rights Reserved.</p>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="footer_menu text-right mt10">
						<ul>
							<li class="list-inline-item"><a href="page-terms-and-policies.html">Site Map</a></li>
							<li class="list-inline-item"><a href="page-terms-and-policies.html">Privacy Policy</a></li>
							<li class="list-inline-item"><a href="page-terms-and-policies.html">Terms of Service</a></li>
							<li class="list-inline-item"><a href="page-terms-and-policies.html">Security & Privacy</a></li>
							<li class="list-inline-item">
								<select class="selectpicker show-tick">
									<option>English</option>
									<option>Frenc</option>
									<option>Italian</option>
									<option>Spanish</option>
									<option>Turkey</option>
								</select>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
<a class="scrollToHome text-thm" href="#"><i class="flaticon-rocket-launch"></i></a>
</div>

<!-- Wrapper End -->



